<footer class="footer">
    <!--<span>© <a class="footer-link" href="https://bongo.ninja">bongo.ninja</a>2020 - 2021</span>
    <span style="margin-left: 1rem; margin-right: 1rem;">|</span>
    <a class="footer-link" href="https://bongo.ninja">Main Site</a>
    <a class="footer-link" href="https://dankmemer.lol/terms">Terms</a>
    <a class="footer-link" href="https://dankmemer.lol/privacy">Privacy</a>-->
    <span>&copy; <a href="https://bongo.ninja/">bongo.ninja</a> 2020 - 2021.</span>
</footer>
<script async src="https://ackee.bongo.ninja/phoenix.js" data-ackee-server="https://ackee.bongo.ninja" data-ackee-domain-id="fffbdba5-3aaa-40e4-8bfc-a9f7ae2a8502"></script>
