<header>
    <h1 class="nav-title">
        <a href="/">api.bongo.ninja</a>
    </h1>
    <div class="nav-links">
        <div class="nav-item">
            <button class="{{ active_home }}" onclick="window.location.href='/';">Home</button>
        </div>
        <div class="nav-item">
            <button class="{{ active_stats }}" onclick="window.location.href='/stats';">Statistics</button>
        </div>
        <div class="nav-item">
            <button class="{{ active_docs }}" onclick="window.location.href='/documentation';">Documentation</button>
        </div>
        <div class="nav-item">
            <button class="{{ active_dash }}" onclick="window.location.href='/dashboard';">Dashboard</button>
        </div>
    </div>
</header>
