<head>
  {% include "partials/header.html" %}
  <script src="/assets/tablesort.js"></script>
</head>

<body>
  <div class="content">
    {% include "partials/navbar.html" %}
    <div class="showcase">
        <h1 class="slogan">AN <span>IMAGE</span> GENERATION API</h1>
        <br>
        <pre>wget --header=<span>"Authorization: tokenhere"</span> https://api.bongo.ninja/api/changemymind?text=imgen%27s%20are%20cool</pre>
        <div class="buttons">
            <button class="nucb" onclick="window.location.href='/request';">Get Access</button>
            <button class="nucb" onclick="window.location.href='/documentation';">Documentation</button>
        </div>
    </div>
    {% include "partials/footer.html" %}
  </div>
</body>
